
<dl class="row">
    <dt class="col-sm-3">
        Qualifications
    </dt>
    <dd class="col-sm-9">
        {% include resume/qualifications.html %}
    </dd>
</dl>
<dl class="row">
    <dt class="col-sm-3">
        Work Experience
    </dt>
    <dd class="col-sm-9">
        {% include resume/work_history.html %}
    </dd>
</dl>
<div class="row">
    <dt class="col-sm-3">
        Personal Project
    </dt>
    <dd class="col-sm-9">
        {% include resume/personal_projects.html %}
    </dd>
</div>
<div class="row">
    <dt class="col-sm-3">
        Education
    </dt>
    <dd class="col-sm-9">
        <h5>University of Alberta</h5>
        Specialization in Computing Science - Software Practice
        <ul>
            <li>
                Software Development
                <ul>
                    <li>
                        Skills such as logic, algorithm, database and foundation of computation
                    </li>
                </ul>
            </li>
            <li>
                Project Management
                <ul>
                    <li>
                        Skills such as project planning, project management and operation management
                    </li>
                </ul>
            </li>
        </ul>
    </dd>
</div>