<button class="btn btn-link w-100 px-0 text-left" data-toggle="collapse" data-target="#cms" aria-expanded="true" aria-controls="cms">
    <h5>CMS - Static Web Compiler</h5>
</button>
<div id="cms" class="collapse" aria-labelledby="cms">
    <ul>
        <li>
            A Python project that generates HTML pages, css files and static images from a given markdown JSON object
        </li>
        <li>
            Using a pre-existing library to modify and customize SASS pre-processes
        </li>
        <li>
            Using a templating library to compile fragmented markdown strings into HTML pages
        </li>
    </ul>
</div>
<button class="btn btn-link w-100 px-0 text-left" data-toggle="collapse" data-target="#day-planner" aria-expanded="true" aria-controls="day-planner">
    <h5>DayPlanner - Online Employee Scheduler</h5>
</button>
<div id="day-planner" class="collapse" aria-labelledby="day-planner">
    <ul>
        <li>
            asdsad
        </li>     
        <li>
            asdsad
        </li>     
    </ul>            
</div>