<div class="progress nav nav-pills bg-light" style="height: 20px">
    {% for history in site.data.work_history %}
        <a
            class="progress-bar" 
            style="width: {{ history.width }}%; background-color: {{ history.color }}"
            aria-valuenow="{{ history.width }}"
            aria-valuemin="0"
            aria-valuemax="100"

            id="{{ history.id }}-tab"
            href="#{{ history.id }}"
            aria-controls="{{ history.id }}"
            data-toggle="pill"

            data-placement="bottom"
            title="{{ history.company_name }} - {{ history.position }}">
        </a>
    {% endfor %}
</div>
<small class="float-left">September 2013</small>
<small class="float-right">March 2019</small>
<div class="tab-content mt-4 border rounded p-3">
    <div class="tab-pane fade show active text-center" id="default" role="tabpanel" aria-labelledby="default-tab">
        Click on a color to show work history!!
    </div>
    <div class="tab-pane fade" id="skipthedishes" role="tabpanel" aria-labelledby="skipthedishes-tab">
        <div class="row">
            <div class="col">
                <h5>SkipTheDishes - Software Developer</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                September 2017 - March 2019
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="m-0">
                    <li>
                        Founding member of the Courier Acquisition Team
                    </li>
                    <li>
                        Rewrote significant sections of the Courier Onboarding Portal from GAE to React
                    </li>
                    <li>
                        Implemented internal tools to ease Ops Users when assisting with a courier applicant
                    </li>
                    <li>
                        Developed new features to streamline the courier onboarding process and reduce operational costs
                    </li>
                    <li>
                        Performed database migrations to modify and configure the applicant model
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="levelup" role="tabpanel" aria-labelledby="levelup-tab">
        <div class="row">
            <div class="col">
                <h5>LevelUp Kids - Lead Teacher/Camp Supervisor</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                May 2017 - August 2017
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="m-0">
                    <li>
                        Teaching students ages 8-15 programming skills and languages
                    </li>
                    <li>
                        Introducing students to robotics, game design and development, mobile application development and web development
                    </li>
                    <li>
                        Working after hours to plan daily activities to provide a quality experience for students
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="ikea" role="tabpanel" aria-labelledby="ikea-tab">
        <div class="row">
            <div class="col">
                <h5>IKEA - Sales Associate</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                September 2017 - March 2017
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="m-0">
                    <li>
                        Founding member of the Courier Acquisition Team
                    </li>
                    <li>
                        Rewrote significant sections of the Courier Onboarding Portal from GAE to React
                    </li>
                    <li>
                        Implemented internal tools to ease Ops Users when assisting with a courier applicant
                    </li>
                    <li>
                        Developed new features to streamline the courier onboarding process and reduce operational costs
                    </li>
                    <li>
                        Performed database migrations to modify and configure the applicant model
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="mediashaker" role="tabpanel" aria-labelledby="mediashaker-tab">
        <div class="row">
            <div class="col">
                <h5>MediaShaker - Web Developent Intern</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                June 2015 - August 2015
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="m-0">
                    <li>
                        Founding member of the Courier Acquisition Team
                    </li>
                    <li>
                        Rewrote significant sections of the Courier Onboarding Portal from GAE to React
                    </li>
                    <li>
                        Implemented internal tools to ease Ops Users when assisting with a courier applicant
                    </li>
                    <li>
                        Developed new features to streamline the courier onboarding process and reduce operational costs
                    </li>
                    <li>
                        Performed database migrations to modify and configure the applicant model
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="bulkbarn" role="tabpanel" aria-labelledby="bulkbarn-tab">
        <div class="row">
            <div class="col">
                <h5>BulkBarn - Stockboy</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                September 2013 - April 2015
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="m-0">
                    <li>
                        Founding member of the Courier Acquisition Team
                    </li>
                    <li>
                        Rewrote significant sections of the Courier Onboarding Portal from GAE to React
                    </li>
                    <li>
                        Implemented internal tools to ease Ops Users when assisting with a courier applicant
                    </li>
                    <li>
                        Developed new features to streamline the courier onboarding process and reduce operational costs
                    </li>
                    <li>
                        Performed database migrations to modify and configure the applicant model
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>